appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.2.0
beautifulsoup4==4.9.2
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cssselect==1.1.0
cycler==0.10.0
datefinder==0.7.1
decorator==4.4.2
distlib==0.3.1
Django==2.2.7
djangorestframework==3.11.0
fake-useragent==0.1.11
feedparser==6.0.1
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
future==0.18.2
gunicorn==20.0.4
idna==2.9
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
kiwisolver==1.2.0
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.3.1
more-itertools==8.5.0
numpy==1.19.1
packaging==20.4
pandas==1.1.0
parse==1.18.0
pathlib==1.0.1
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pyee==7.0.4
pyparsing==2.4.7
pyppeteer==0.2.2
pyquery==1.4.1
pytest==6.0.2
python-dateutil==2.8.1
pytz==2019.3
regex==2020.9.27
requests==2.23.0
requests-html==0.10.0
scikit-learn==0.23.2
scipy==1.5.2
sgmllib3k==1.0.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.0
threadpoolctl==2.1.0
toml==0.10.1
tqdm==4.49.0
urllib3==1.25.9
validators==0.14.3
virtualenv==20.0.28
w3lib==1.22.0
websockets==8.1
Werkzeug==1.0.1
xarray==0.16.0
yahoo-fin==0.8.6
